@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin font-base {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #767676;
}


@mixin font-bald {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

// whoop main green
$w-green: #3DDE63;


// Primary Colors
// Primary Color Palette
$w-lime: #9DE32B;
$w-orange: #F5852B;
$w-yellow: #F6CE41;

// Primary Support Colors
$w-orange-dark: #E36C0C;
$w-orange-light: #FFAF6E;
$w-yellow-dark: #EFBD0E;
$w-yellow-light: #FAE084;
$w-lime-dark: #86CA19;
$w-lime-light: #BAF55D;
$w-green-dark: #1DC545;
$w-green-light: #6FF38E;


// Support Colors
$w-sunglow: #E45D5D;
$w-brilliant-rose: #F749B4;
$w-heliotrope: #C538F4;
$w-dodger-blue: #45A6FA;
$w-java: #1DE3E1;
$w-paarl: #994B29;
$w-wax-flower: #FFC8B0;
$w-white: #FFFFFF;


// Shades of Grey
$w-mine-shaft: #363636;
$w-boulder: #767676;
$w-grey-dark: #555555;
$w-alto: #DEDEDE;
$w-alabaster: #FAFAFA;


// Background/Box Style = $w-white, $w-alto, $w-alabaster



/*=============  MEDIA QUERIES  =============*/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
$min-xxs: 320px;

/* Extra Small Devices, Phones */
$min-xs: 480px;

/* Small Devices, Tablets */
$min-sm: 768px;

/* Medium Devices, Desktops */
$min-md: 992px;

/* Large Devices, Wide Screens */
$min-lg: 1200px;




/*========  Non-Mobile First Method  ========*/

/* Large Devices, Wide Screens */
$max-lg: 1199px;

/* Medium Devices, Desktops */
$max-md: 991px;

/* Small Devices, Tablets */
$max-sm: 767px;

/* Extra Small Devices, Phones */
$max-xs: 479px;

/* Custom, iPhone Retina */
$max-xxs: 319px;