body, .container {
  font-size: 16px;
  @include font-base;
  margin-bottom: 60px;
}


h2 {
  color: #363636;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  line-height: 52px;
}

h1 {
  color: #363636;
  font-family: 'Lato', sans-serif;
  font-size: 52px;
  line-height: 1;
  @include font-bald;
}

h4 {
  color: #363636;
  font-size: 15px;
  line-height: 24px;
  @include font-bald;
}

h3 {
  color: #363636;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Lato', sans-serif;
}

.nav__top__back {
  float: left;
  @include font-base;
}