.compare {
  margin-bottom: 30px;

  .chart{
    margin: 5px 30px 40px;
    display: -ms-flexbox;
    justify-content: center;
    padding: auto;

    .canvas-container{
      min-height: 250px;
    }

  }
}

.compare__detail__select, .compare__detail__data {
  margin-top: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include clearfix;

}

.compare__detail  {
  &__select__item{
    background-color: $w-alto;
    border-color: $w-alto;
    border-radius: 4px;
  }
}


.compare__detail  {
  &__select__item, &__data__item {
    width: 49%;
    margin-right: 1%;
    float: left;
    padding: 10px;

    &:last-child {
      margin: 0;
    }
  }

  &__data__item {
    padding-bottom: 400px;
  }

  &__data {
    margin-top: 20px;
  }
}


.compare__detail__select.comparison, .compare__detail {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  #div1, #div2, .compare__detail__data {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 54px;

    .statistic-data.compare-data {
      .explanation {
        font-size: 12px;
        background-color: #eee;
        padding: 5px;

        span.glyphicon {
          padding-right: 5px;
          color: #999;
        }
      }
    }
  }
}


#div2 {

  .div2__info {
    width: 100%;
    text-align: center;
    line-height: 2;
    pointer-events: none;
  }

  .filter__items__wrapper {
    width: auto;
    height: auto;
    margin: 0;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: -9px;
  }

  .filter__item, .detail .filter__item {
    background-color: transparent;
  }

  .filter__items__img {
    width: 30px;
    height: auto;
    margin-top: -2px;
  }

  .filter__items__imagediv {
    float: left;
  }

  .filter__item.filter__country {
    margin-left: 3px;
  }
}

.div1__wrapper {
  margin: auto;

  a {
    color: $w-mine-shaft;
    font-size: initial;
    line-height: 2;
  }
  a:hover{
    text-decoration: none;
    color: $w-alabaster;
  }
}

.compare__flag {
  height: 30px;
  width: auto;
}





/* Drag n drop */
.comparison {

  #div1, #div2 {
    float: left;

    &:last-child {
      margin: 0;
    }

  }

  @include clearfix;

}

.draggable {
  float: left;
}