body {
  color: #363636;
  @include font-base;
  font-size: 16px;
  line-height: 1.67;
}

h1{
  margin-top: 20px;
  text-align: center;
  margin-top: 10px;
  padding-left: 15px;
}

.chart{
  width: 300px;
  margin: 50px;
  height: 200px;
  display: inline-block;
}

.breadcrumb{
  padding-left: 15px;
  margin-top: 20px;
  height: 40px;
  width: 100%;
  padding: 8px 15px 8px 15px;
}

.menu{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  float: left;
  margin-bottom: 0;
  border-radius: 4px;
  border: none;
}

.menu:focus {
  outline:0;
}

.menu:active {
}

.menu__inner{
  float: left;
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 16px;
  display: none;
}

.statistic-menu {
  margin-top: 5px;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.sub_button{
  background-color: #fff;
  width: 100%;
  padding: 8px;
  border: none;
  line-height: 1.67;
  vertical-align: top;
  border-top: 1px solid #ddd;
  overflow: auto;
}

.sub_button:hover{
 font-weight: 600;
}

.sub_button:focus {
  outline:0;
}

.menu__right{
  padding-left: 15px;
}

.detail-content{
  padding-left: 15px;
  font-family: Lato;
  font-size: 16px;
}

.detail-content .intro-text{
  color: #767676;
}

.menu__left {
  width: 20%;
  float: left;
  margin-top: 15px;
  style: hover;
}

.menu:hover{
  color: $w-white;
}

.country {
  width: 80%;
  float: right;
}

.detail__items--item {
  width: 110px;
  height: 110px;
  background-color: #a1a1a1;
  float: left;
  margin: 8px;
  float: none;
  display: inline-block;
}

.detail__items {
  overflow-x: scroll;
  width: 90%;
  margin-top: 100px;
  white-space: nowrap;
  margin: 40px 30px 0px 30px;
}

//neuer Shit
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 26px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

a {
  color: $w-green;
  text-decoration: none;
}

.compareBtn {
  float: right;
  border-radius: 5px;
  font-size: 15px;
  padding: 16px;
  text-transform: uppercase;
  background-color: #E36C0C;
}

.compareBtn:hover{
  color: #ffff;
}