.chart{
  width: 300px;
  margin: 50px;
  height: 200px;
  display: inline-block;
}



.menu{
  width: 100%;
  line-height: 24px;
  float: left;
  margin-bottom: 0;
  border-radius: 4px;
  border: none;
}

.menu:focus {
  outline:0;
}

.menu:active {
}

.menu__inner{
  float: left;
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 16px;
  display: none;
}

.statistic-menu {
  margin-top: 5px;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #000000;

  &:first-child {
    button.menu {
      background-color: $w-yellow;
    }
  }

  &:nth-child(2) {
    button.menu {
      background-color: $w-orange;
    }
  }

  &:nth-child(3) {
    button.menu {
      background-color: $w-sunglow;
    }
  }

  &:nth-child(4) {
    button.menu {
      background-color: $w-heliotrope;
    }
  }

  &:nth-child(5) {
    button.menu {
      background-color: $w-dodger-blue;
    }
  }

  &:nth-child(6) {
    button.menu {
      background-color: $w-java;
    }
  }
}

.sub_menu{
  background-color: #fff;
  width: 100%;
  padding: 8px;
  border: none;
  line-height: 1.67;
  vertical-align: top;
  border-top: 1px solid #ddd;
  overflow: auto;
  margin-bottom: 0.5em;
}

.sub_menu:hover{
  color: $w-green;
}

.sub_menu:focus {
  outline:0;
}

.detail-content .intro-text{
  color: #767676;
}

.canvasjs-chart-credit {
  margin-top: 15px !important;
}

.menu__left {
  width: 20%;
  float: left;
  margin-top: 30px;
  style: hover;
}

.menu:hover{
  color: $w-white;
}

.country {
  padding-left: 15px;
  width: 80%;
  float: right;
  margin-top: 30px;
}

.detail__items--item {
  width: 110px;
  height: 110px;
  background-color: #a1a1a1;
  float: left;
  margin: 8px;
  float: none;
  display: inline-block;
}

.detail__items {
  overflow-x: scroll;
  width: 90%;
  margin-top: 100px;
  white-space: nowrap;
  margin: 40px 30px 0px 30px;
}


a {
  color: $w-green;
  text-decoration: none;
}

.compareBtn {
  float: right;
  border-radius: 5px;
  font-size: 15px;
  padding: 16px;
  text-transform: uppercase;
  color: $w-alabaster;
  background-color: $w-green;
}

.compareBtn:hover{
  color: #ffffff;
}