.entry {
  font-size: 1.3em;

  &__text {
    margin: 35px 0 35px 0;

    &__header {
      font-weight: 700;
    }
  }

  &__data {
    margin-top: 35px;
    background-color: $w-alabaster;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    overflow: auto;

    &__item {
      width: 30%;
      float: left;

      &__head {
        @include font-bald;
        font-size: 1.3em;
        margin: 0 12% 0 12%;
      }

      &__info {
        font-size: 1.1em;
        margin: 0 12% 0 12%;
      }
    }
  }

  &__more {
    float: right;
    text-align: right;

    &__button {
      border: none;
      color: $w-white;
      background-color: $w-orange;
      text-transform: uppercase;
      padding: 15px;
    }
  }
}