
/*tags*/
.filter__tags {
  margin-top: 15px;
  margin-bottom: 35px;
}

.filter__tag {
  background-color: $w-white;
  border-radius: 7px;
  border: 2px solid $w-green;
  color: $w-green;
  padding: 6px 15px 6px 15px;
  margin: 5px 8px 0 8px;
  font-size: 15px;
  text-transform: uppercase;

  &:active {
    background-color: $w-green;
  }

  &:hover {
    background-color: #ebebeb;
  }
}


.filter__country {
  background-color: #ebebeb;
}


/*items*/
.filter__item, .filter__items__wrapper {
  background-color: $w-alto;
  border-radius: 15px;
  font-size: initial;
  color: #000000;
}

.filter__items__wrapper {
  display: inline-block;
  padding: 15px;
  width: 100px;

  &.hide {
    display: none;
  }
}


/* search */
.filter {
  text-align: center;
}

.filter__search__label {
  width: 50%;
  font-weight: 300;
  line-height: 2.4em;

  .filter__search__span {
    width: 50%;
    float: left;
    text-align: right;
  }

  .filter__search__search {
    width: 35%;
    height: 40px;
    float: left;
    text-align: left;
  }

  .img-flag {
    height: 20px;
    width: auto;
    margin-top: -4px;
  }

}

@media (max-width: $max-sm) {
  .filter__search__label {
    width: 100%;
  }

}

/* compare */
.compare .filter__items__wrapper {
  display: inline-block;
}

.compare, .detail {
  .filter__items__wrapper {
    width: 110px;
    height: 110px;
    margin: 8px;
    float: none;
    display: inline-block;
  }

  .filter__item {
    width: 110px;
    height: 110px;
  }

  .filter__items {
    overflow-x: scroll;
    width: 90%;
    margin-top: 100px;
    white-space: nowrap;
    margin: 40px 30px 0 30px;
  }

}
.filter__items__img {
  width: 60%;
  height: auto;
  margin-top: 4px;
}


/* overview */
.overview {
  .filter__items {
    text-align: center;
  }
}