.filter__tags {
  margin-top: 35px;
}

.filter__tags--tag {
  background-color: #a1a1a1;
  border-radius: 7px;
  padding: 6px 10px 6px 10px;
  border: none;
  margin: 0 8px 0 8px;
  font-size: 15px;
  text-transform: uppercase;
}

.filter__tags--tag:hover {
  background-color: #ebebeb;
}


.compare .filter, .detail .filter {
  text-align: center;
}

.compare, .detail {
  .filter__search--label {
    width: 30%;
  }

  .filter__search--span {
    width: 60%;
    float: left;
    line-height: 33px;
  }

  .filter__search--search {
    width: 40%;
    float: left;
  }
}