.overview .filter, .overview__items {
  margin-top: 15px;
}

.whoop-header {
  color: #363636;
  font-family: 'Lato', sans-serif;
  background-size: 100%;
  padding: 40px;
  text-align: center;
}

.whoop-header__intro {
  font-size: 3em;
  font-weight: 700;
}