body {
  @include font-base;
}

.overview__header {
  background-color: #ebebeb;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.overview__header__facts {
  margin-top: 35px;
}

.overview .filter, .overview__items {
  margin-top: 70px;
}

.overview__header__facts--fact {
  @include font-bald;
  font-size: 1.3em;
  margin: 0 12% 0 12%;
}

.overview__header__button {
  float: right;
}

.overview__header__button--btn {
  background: transparent;
  border: none;
  color: #736f6f;
}
